body {
  margin: 0 0;
}

.wrapper {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  
}

.wrapper div {
  display: flex;
  text-align: center;
  vertical-align: 300px;
  font-size: 1.5em;
  float:left; 
  
}

.wrapper div p {
  margin: 0 0;
  display: flex;
  vertical-align: middle;
  height: 20vh;
  width: 20vh;  
  align-items: center;
  justify-content: center;
}

.yellow {
  background: #ffcf73;
  color: #6b8fd4;
}
.blue {
  background: #6b8fd4;
  color: #ffcf73;
}
